<div class="z-10 fixed bg-gray-50 dark:bg-gray-900 w-full h-8 shadow-sm">
  <button class="float-left mt-1 ml-1 px-2.5 py-1 rounded-md text-xs hover:bg-gray-200 dark:text-white dark:hover:bg-gray-800">Open</button>

  <button class="float-right mt-1 mr-1 px-2.5 py-1 rounded-md text-xs hover:bg-gray-200 dark:text-white dark:hover:bg-gray-800">Preview</button>
  <button class="float-right mt-1 px-2.5 py-1 rounded-md text-xs hover:bg-gray-200 dark:text-white dark:hover:bg-gray-800">Clear</button>
</div>
