<textarea class="font-mono resize-none p-4 w-full h-full text-xs focus:outline-0 text-gray-900 bg-gray-100 dark:bg-gray-800 dark:placeholder-gray-400 dark:text-white" placeholder="Write it down!"></textarea>
<div class="fixed top-10 right-2 p-1 rounded-md text-xs bg-gray-200 dark:text-white dark:hover:bg-gray-800">
  <div id="code">
    <img src="assets/icons/code.svg" alt="code"/>
  </div>
  <div id="mixed">
    <img src="assets/icons/columns.svg" alt="code"/>
  </div>
  <div id="preview">
    <img src="assets/icons/image.svg" alt="code"/>
  </div>
</div>
