<textarea class="font-mono resize-none p-4 w-full h-full text-xs focus:outline-0 text-gray-900 bg-gray-200 dark:bg-gray-800 dark:placeholder-gray-400 dark:text-white" placeholder="Write it down!"></textarea>
<div class="fixed top-11 right-2 p-1 shadow-sm rounded-md text-xs bg-gray-50 dark:text-white dark:hover:bg-gray-800">
  <button id="code" class="inline-block p-1 mr-1 hover:bg-gray-200 rounded-md border-2 border-gray-200 focus:border-black">
    <img src="assets/icons/code.svg" class="h-4 w-4" alt="code"/>
  </button>
  <button id="mixed" class="inline-block p-1 mr-1 hover:bg-gray-200 rounded-md border-2 border-gray-200 focus:border-black">
    <img src="assets/icons/columns.svg" class="h-4 w-4" alt="mixed"/>
  </button>
  <button id="preview" class="inline-block p-1 hover:bg-gray-200 rounded-md border-2 border-gray-200 focus:border-black">
    <img src="assets/icons/image.svg" class="h-4 w-4" alt="preview"/>
  </button>
</div>
