<div class="h-screen">
  <div class="fixed bg-gray-50 dark:bg-gray-900 w-full h-8 shadow-sm">
    <!--<button class="float-right mt-1 mr-1 px-3 py-1 rounded-md text-xs border-b-2 text-black bg-gray-200 border-gray-100 hover:border-gray-300 dark:text-white dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 focus:border-b-0 focus:border-t-2 focus:border-gray-300">Preview</button>-->
    <button class="float-left mt-1 ml-1 px-2.5 py-1 rounded-md text-xs hover:bg-gray-200">Open</button>

    <button class="float-right mt-1 mr-1 px-2.5 py-1 rounded-md text-xs hover:bg-gray-200">Preview</button>
    <button class="float-right mt-1 px-2.5 py-1 rounded-md text-xs hover:bg-gray-200">Clear</button>
  </div>
  <textarea class="mt-8 font-mono resize-none p-4 w-full h-full text-xs focus:outline-0 text-gray-900 bg-gray-100 dark:bg-gray-800 dark:placeholder-gray-400 dark:text-white" placeholder="Write it down!"></textarea>
</div>
